*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    max-width: 100vw;
    height: 100vh;
    position: relative;
}

.buscador{
    position: absolute;
    min-width: 350px;
    top: 20px;
    left: 50%;
    transform: translateX(-50%);
    text-align: center;
    display: inline-block;
    padding: 20px 40px;
    border-radius: 15px;
    background-color: rgba($color: #ffffff, $alpha: .2);
    backdrop-filter: blur(5px);
    border: 1px solid #bbbbbb;
    z-index: 2;
    .titulo{
        font-family: "Protest Revolution", sans-serif;
        color: #fff;
        font-size: 1.5rem;
    }
    .entidad{
        font-family: "Open Sans", sans-serif;
        font-optical-sizing: auto;
        color: #fff;
        font-size: 1rem;
        font-weight: 400;
        margin-bottom: 10px;
    }
    .select{
        padding: 5px 10px;
        cursor: pointer;
        border: none;
        border-radius: 2px;
        color: #312929;
        background-color: #ededed;
        outline: none;
    }
}

#map { 
    width: 100%;
    height: 100%;
    z-index: 1;
}